<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is paragraph 1 + 2</h1>
    <h1><%=  "Shivam jha". toUpperCase() %></h1>
    <h3><%= ["hello","from","shivam"][2] %></h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
       Mollitia ad blanditiis illo fuga dolorem harum minus non 
       necessitatibus tenetur veniam, rerum vitae dolorum impedit 
       libero dolore exercitationem numquam sapiente nisi!
    </p>
    <button>click me</button>
</body>
</html>